
/*.metromaping{
  background-image: url("/images/metromap1.jpg");
  max-width: 100%;
  height: auto;*/
  /*border: 3px solid black;*/
  /*background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;*/
  /*background-attachment: fixed;*/

.metromaping {
      width: 100%;
      height: 800px;
      background-image: url("/images/newMetroImg.jpg");
      /*background-size: cover;*/
      background-repeat: no-repeat;
      background-position: center;
  }

body {
padding-top: 100px;
}

/*.hidden{
  display:none;
}*/

.signup-form, .login-form {
  display:none;
}

.commentdiv{
  text-align: center;
  margin: 0 auto;
}

.stationdiv{
  display: inline-block;
}
