
.metromapimg{
  background-image: url("/images/metromap1.jpg");
  height:700px;
  width: 100%;
  /*border: 3px solid black;*/
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  /*background-attachment: fixed;*/
}

body {
padding-top: 100px;
}

/*.hidden{
  display:none;
}*/

.signup-form, .login-form {
  display:none;
}

.commentdiv{
  text-align: center;
  margin: 0 auto;
}

.stationdiv{
  display: inline-block;
}
