
.metromaping {
      width: 100%;
      height: 800px;
      background-image: url("/images/newMetroImg.jpg");
      /*background-size: cover;*/
      background-repeat: no-repeat;
      background-position: center;
  }

body {
padding-top: 100px;
background: #FEFEFE;
}

hr{
  border-color:#cccccc;
}

.centerdiv{
  text-align: center;
  margin: 0 auto;
}

.wmata h2{
  color: red;
  font-style: italic;
  text-align: center;
  font-size: 1em;
}

.signup-form, .login-form {
  display:none;
}

.commentdiv{
  text-align: center;
  margin: 0 auto;
}

.stationdiv{
  display: inline-block;
}

.choosestation{
  margin-top: 10px;
}


.red:hover{
  background-color: #FF2042 !important;
}
.blue:hover{
  background-color: #00B9FF !important;
}
.orange:hover{
  background-color: #F48F00 !important;
}
.silver:hover{
  background-color: #B4C6CA !important;
}
.yellow:hover{
  background-color: #FFF000 !important;
}
.green:hover{
  background-color: #18D653 !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50px;
  /*background-color: green;*/
}

h4 {
  font-family: arial;
  font-size: 25px;
  padding: 25px;

}
